html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    /*color*/
        --white-color: #fff;
        --black-color: #140a00;
        --blue-light-color: #0FFFFF;
        --blue-color: #045fd4;
        --red-color: #ff0000;
        --grey-dark-color: #909090;
        --grey-light-color: #e0e0e0;
        --yellow-color: #FAFF00;
		--orange-color: orange;
        --brown-color: #381E1F;
        --brown-light-color:#A6845E;
    /*size*/
        --padding-all: 12px;
		--padding-side: 0 12px;
		--padding-top: 12px 0 0 0;
        --avatar-size: 36px;
        --spacing:8px 14px;
        --area-padding: 0px 5%;
        --header-height: 80px;

    /*font-size*/
        --font-large:30px;
        --font-medium:25px;
        --font-small:20px;
        --font-micro:13px;
        --font-thick: bold;
}

/* css start */
*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
}

section{
	opacity: 0;
	transition: all 4s;
}

/* header */
header{
    height: 105vh;
    width: 100%;
    background: url(img/nav_bg2.png) fixed;
    background-size: cover;
    display:flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}

.navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	color: var(--white-color);
}

.navbar a{
	color: var(--white-color);
	text-decoration: none;
}

.nav_menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 45%;
	justify-content: space-around;
	font-size: 1em;
}

.header_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 150px;
	height: 100%;
}

.header_title>img{
	width: 300px;
}

.header_sign{
	display: flex;
	font-weight: bold;
	font-size: 2em;
	color: var(--white-color);
	align-items: center;
	justify-content: center;
}

.scroll{
	color: var(--white-color);
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 50px;
	animation: 1s ease-in-out 0s infinite alternate none running bounce;
	position: absolute;
}

@keyframes bounce {
	from{
		bottom: 5px;
	}
	to{
		bottom: 0px;
	}
}

/* section about*/
section{
    height: 100vh;
    width: 100%;
	box-sizing: border-box;
}

.about{
	display: flex;
	flex-direction: row;
	padding: 5%;
	background-color: var(--grey-light-color);
}

.about_intro{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.about_intro .about_intro_header{
	font-weight: bold;
	font-size: 2em;
}

.about_intro .fa-solid{
	font-weight: bold;
	font-size: 2em;
	margin: 1em;
}

.about_img{
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	align-items: center;
}

.about .about_img .img_folder{
	vertical-align: center;
}

.about_img1, .about_img2, .about_img3, .about_img4{
	width: 40%;
	margin: calc(20%/4);
	padding: 10px;
	border: 1px solid var(--brown-color);
}

/* section menu */
.menu{
	background-image: url(img/menu.png);
	color: var(--white-color);
	display: flex;
	flex-direction: column;
	height: 115vh;
}

.menu .menu_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em;
	font-size: 2em;
	font-weight: bold;
	align-items: center;
}

.menu .menu_title .menu_title_name{
	display: flex;
	justify-content: center;
	width: 20%;
	text-align: center;
	letter-spacing: 1.5em;
	padding-left: 1.5em;
}

.menu .menu_title .menu_title_img{
	width: 30%;
}

.menu .menu_all{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu .menu_all #PizzaAndDrink{
	margin: 0 30px;
	width: 30%;
}

.menu .menu_all #PizzaAndDrink .menu_li{
	width: 100%;
	margin: 0 0 100px 0;
}

.menu .menu_all .menu_li{
	margin: 0 30px;
	width: 30%;
}

.menu .menu_all .menu_li .menu_li_header{
	font-weight: bold;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	color: var(--orange-color);
}

.menu .menu_all .menu_li .menu_li_under .menu_kinds{
	font-weight: bold;
	font-size: 1.2em;
	margin: var(--padding-top);
	border-bottom: 1px solid var(--orange-color);
}

.menu .menu_all .menu_li .menu_li_under .menu_list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5px;
}

/* section event */
.event{
	display: flex;
	flex-direction: row;
	padding: 5%;
}

.event .event_intro{
	border-right: 1px solid var(--brown-color);
}

.event_intro, .event_service{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.event_intro .event_intro_header, .event_service .event_service_header{
	font-weight: bold;
	font-size: 2em;
}

.event_intro .fa-solid, .event_service .fa-solid{
	font-weight: bold;
	font-size: 2em;
	margin: 1em;
}

.event .event_intro .event_intro_contents, .event .event_service .event_service_contents{
	font-size: 1.2em;
	text-align: center;
	line-height: 2em;
}

/* section location */
.location{
	background-image: url(img/location_bg1.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.location .location_header{
	font-size: 2em;
	font-weight: bold;
	color: var(--white-color);
	margin-bottom: 1em;
}

.location .map{
	display: flex;
	justify-content: center;
	width: 80%;
}

.location .location_intro{
	font-size: 1.2em;
	color: var(--white-color);
	margin-top: 1em;
	line-height: 1.5em;
}

/* footer */
.footer .footer_logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: bold;
	margin: 20px 10px;
}

.footer .footer_logo .footer_logo_img{
	width: 4em;
}

.footer .footer_adress{
	margin: 10px;
	border-left: 5px solid var(--grey-dark-color);
	padding-left: 3px;
}

.footer .footer_number{
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.footer .footer_number li{
	padding-right: 10px;
	padding-left: 3px;
	border-left: 5px solid var(--grey-dark-color);
}